<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", issues_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_issue_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", issue_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.issue.project_id", :default => t("activerecord.labels.project_id", :default => "Project")) %>:</b>
          <%= @issue.project_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.issue.number", :default => t("activerecord.labels.number", :default => "Number")) %>:</b>
          <%= @issue.number %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.issue.subject", :default => t("activerecord.labels.subject", :default => "Subject")) %>:</b>
          <%= @issue.subject %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.issue.milestone_id", :default => t("activerecord.labels.milestone_id", :default => "Milestone")) %>:</b>
          <%= @issue.milestone_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.issue.opener_user_id", :default => t("activerecord.labels.opener_user_id", :default => "Opener user")) %>:</b>
          <%= @issue.opener_user_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.issue.assignee_user_id", :default => t("activerecord.labels.assignee_user_id", :default => "Assignee user")) %>:</b>
          <%= @issue.assignee_user_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.issue.category_id", :default => t("activerecord.labels.category_id", :default => "Category")) %>:</b>
          <%= @issue.category_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.issue.priority_id", :default => t("activerecord.labels.priority_id", :default => "Priority")) %>:</b>
          <%= @issue.priority_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.issue.status_id", :default => t("activerecord.labels.status_id", :default => "Status")) %>:</b>
          <%= @issue.status_id %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_issue_path(@issue), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), issue_path(@issue), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>