<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", priorities_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_priority_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Priorities</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.priority.name", :default => t("activerecord.labels.name", :default => "Name")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @priorities.each do |priority| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= priority.id %>
          </td>
                    <td>
            <%= link_to priority.name, priority_path(priority) %>
          </td>
                    <td>
            <%= priority.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", priority_path(priority) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_priority_path(priority) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", priority_path(priority), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
