<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", companies_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_company_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", company_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.company.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @company.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.company.address", :default => t("activerecord.labels.address", :default => "Address")) %>:</b>
          <%= @company.address %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.company.city", :default => t("activerecord.labels.city", :default => "City")) %>:</b>
          <%= @company.city %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.company.state", :default => t("activerecord.labels.state", :default => "State")) %>:</b>
          <%= @company.state %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.company.country", :default => t("activerecord.labels.country", :default => "Country")) %>:</b>
          <%= @company.country %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.company.time_zone", :default => t("activerecord.labels.time_zone", :default => "Time zone")) %>:</b>
          <%= @company.time_zone %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.company.postal_code", :default => t("activerecord.labels.postal_code", :default => "Postal code")) %>:</b>
          <%= @company.postal_code %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.company.web_address", :default => t("activerecord.labels.web_address", :default => "Web address")) %>:</b>
          <%= @company.web_address %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.company.phone", :default => t("activerecord.labels.phone", :default => "Phone")) %>:</b>
          <%= @company.phone %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_company_path(@company), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), company_path(@company), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>