<h1>Listing project_accesses</h1>

<table>
  <tr>
    <th>User</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_accesses.each do |project_access| %>
  <tr>
    <td><%= project_access.user_id %></td>
    <td><%= project_access.project_id %></td>
    <td><%= link_to 'Show', project_access %></td>
    <td><%= link_to 'Edit', edit_project_access_path(project_access) %></td>
    <td><%= link_to 'Destroy', project_access, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project access', new_project_access_path %>
