<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", accounts_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_account_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", account_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.account.company_id", :default => t("activerecord.labels.company_id", :default => "Company")) %>:</b>
          <%= @account.company_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.account.admin_user_id", :default => t("activerecord.labels.admin_user_id", :default => "Admin user")) %>:</b>
          <%= @account.admin_user_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.account.subdomain", :default => t("activerecord.labels.subdomain", :default => "Subdomain")) %>:</b>
          <%= @account.subdomain %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.account.trial", :default => t("activerecord.labels.trial", :default => "Trial")) %>:</b>
          <%= @account.trial %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.account.active", :default => t("activerecord.labels.active", :default => "Active")) %>:</b>
          <%= @account.active %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_account_path(@account), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), account_path(@account), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>